<!DOCTYPE html >
<htm>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" type="text/css" href="style.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
        <!-- cdn fontawesome -->
        <script src="https://kit.fontawesome.com/671eb27034.js" crossorigin="anonymous"></script>
        <!--<link rel="stylesheet" href="style.css">-->

        <title>Trouvé Perdu</title>
    </head>

    <!--********************************************************************** HEADER **********************************************************************-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="logo">
                    <a class="navbar-brand col-4" href="#">
                        <img src="./img/logo_Trouve_ou_perdu-1-removebg-preview.png " alt="notre logo " width="300px">
                    </a>
                </div>
                <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="menu">
                    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
                        <ul class="navbar-nav ">
                            <li class="nav-item ">
                                <a class="nav-link active " aria-current="page " href="# ">Accueil</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="# ">Déclaration</a>
                            </li>
                            <li class="nav-item " style="margin-right: 50px;">
                                <a class="nav-link active" href="# "></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="# ">Région</a>
                            </li>
                            <li class="nav-item" style="margin-left: 300px;">
                                <button type="submit" class="btn btn-primary mb-3">Connexion</button>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <body>


        <!--=================================================SLIDE FIN===============================================-->



        <!--=================================================SECTION DEBUT===============================================-->
        <section>


            <!--***************  SLIDE DEBUT ***************-->
            <div id="carouselExampleIndicators " class="carousel slide " data-bs-ride="carousel ">
                <div class="carousel-indicators ">
                    <button type="button " data-bs-target="#carouselExampleIndicators " data-bs-slide-to="0 " class="active " aria-current="true " aria-label="Slide 1 "></button>
                    <button type="button " data-bs-target="#carouselExampleIndicators " data-bs-slide-to="1 " aria-label="Slide 2 "></button>
                    <button type="button " data-bs-target="#carouselExampleIndicators " data-bs-slide-to="2 " aria-label="Slide 3 "></button>
                </div>
                <div class="carousel-inner ">
                    <div class="carousel-item active ">
                        <img src="./img/PIC.jpg.jpg " class="d-block w-50 " alt="... ">
                    </div>
                    <div class="carousel-item ">
                        <img src="./img/PIC.jpg.jpg " class="d-block w-50 " alt="... ">
                    </div>
                    <div class="carousel-item ">
                        <img src="./img/PIC.jpg.jpg " class="d-block w-50 " alt="... ">
                    </div>
                </div>
                <button class="carousel-control-prev " type="button " data-bs-target="#carouselExampleIndicators " data-bs-slide="prev ">
                  <span class="carousel-control-prev-icon " aria-hidden="true "></span>
                  <span class="visually-hidden ">Previous</span>
                </button>
                <button class="carousel-control-next " type="button " data-bs-target="#carouselExampleIndicators " data-bs-slide="next ">
                  <span class="carousel-control-next-icon " aria-hidden="true "></span>
                  <span class="visually-hidden ">Next</span>
                </button>
            </div>
            <!--***************  SLIDE fin ***************-->

        </section>

        <section>
            <div class="objet">
                <h1 style="text-align: center;">Les Objets</h1>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">Objet Trouvé</h5>
                            <p class="card-text">Dans cette partie vous verrez tous les objets trouvés par leur propriétaires.</p>
                            <a href="#" class="btn btn-primary">Cliquez ici</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;">Objet Perdu</h5>
                            <p class="card-text">Tous les objets perdus se trouve dans cette partie.</p>
                            <a href="#" class="btn btn-primary">Cliquez Ici pour voir</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section>
            <h2 style="text-align: center;">Déclarer l'objet perdu</h2>
            <div class="déclarer">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nom</label>
                    <input type="name" class="form-control" id="name">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">prénom</label>
                    <input type="name" class="form-control" id="name">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Pays</label>
                    <input type="name" class="form-control" id="name">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Lieu ou vous avez perdu votre objet</label>
                    <input type="name" class="form-control" id="exampleFormControlInput1">
                </div>


                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Type d'objet perdu</label>
                    <input type="name" class="form-control" id="name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label" style="border: 35px;">Votre Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Envoyez</button>
                </div>
            </div>
        </section>
        <!--=================================================SECTION FIN===============================================-->

    </body>

    </html>