


#### Mes AjoutS ############
RewriteEngine on
RewriteRule ^accueil$ views/accueil.php
RewriteRule ^index$ index.php
RewriteRule ^creer_compte$ views/utilisateur/creer_compte.php
RewriteRule ^liste_commune views/utilisateur/liste_commune.php
RewriteRule ^liste_departement views/utilisateur/liste_departement.php

#### PERDU ###
RewriteRule ^perdu$ views/perdu/index.php
RewriteRule ^ajout_perdu$ views/perdu/ajout_perdu.php
RewriteRule ^supprimer_cellule$ views/perdu/supprimer_perdu.php

### TROUVE ###
RewriteRule ^ajout_trouve$ views/trouve/ajout_trouve.php
RewriteRule ^supprimer_trouve$ views/trouve/supprimer_trouve.php
RewriteRule ^trouve$ views/trouve/index.php
### TEMOIGNAGE ###
RewriteRule ^ajout_temoignage$ views/temoignage/ajout_temoignage.php
RewriteRule ^supprimer_trouve$ views/temoignage/supprimer_trouve.php
RewriteRule ^temoignage$ views/temoignage/index.php

### UTILISATEUR ###
RewriteRule ^utilisateur$ views/utilisateur/index.php
RewriteRule ^supprimer_utilisateur$ views/utilisateur/supprimer_utilisateur.php
RewriteRule ^mon_compte$ views/utilisateur/mon_compte.php
RewriteRule ^recuperation$ views/utilisateur/recuperation.php
### REGION ###
RewriteRule ^region$ views/administration/region/index.php
RewriteRule ^supprimer_region$ views/administration/region/supprimer_region.php

RewriteRule ^departement$ views/administration/departement/index.php
### COMMUNE ###
RewriteRule ^commune$ views/administration/commune/index.php
RewriteRule  ^ajout_commune$ views/administration/commune/ajout_commune.php
RewriteRule  ^supprimer_commune$ views/administration/commune/supprimer_commune.php

RewriteRule ^deconnexion$ views/utilisateur/deconnexion.php
RewriteRule ^super_admin$ super_admin/index.php

###ADMINISTRATION ####
RewriteRule  ^ajout_region$ views/administration/region/ajout_region.php
RewriteRule  ^ajout_departement$ views/administration/departement/ajout_departement.php
RewriteRule ^supprimer_departement views/administration/departement/supprimer_departement.php




### FIN Ajout ########



