RewriteEngine on

RewriteRule ^Accueil$ views/Accueil.php
RewriteRule ^inscription$ views/utilisateurs/inscription.php
RewriteRule ^liste_departement views/utilisateurs/liste_departement.php
RewriteRule ^liste_commune views/utilisateurs/liste_commune.php
RewriteRule ^liste_perdu$ views/declaration_perdu/liste_perdu.php
RewriteRule ^perdu$ views/declaration_perdu/index.php