.collapse navbar-collapse {
    color: #0E62DD;
}

.container-fluid {
    background-color: white;
    color: #0E62DD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.logo {
    margin-left: -90px;
}

.navbar-nav {
    margin-right: 500px;
}

.nav-link {
    color: #0E62DD;
}

.nav-item {
    margin-right: 70px;
    color: #0E62DD;
}


/*hr {
    height: 1px;
    border: none;
    color: #3f3935;
    background: #3f3935;
    margin: 0;
    float: left;
    width: 100%;
}*/